{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="mt">Create Restaurant</h3>
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="col">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{form_label(form.name)}}
                        {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{form_label(form.description)}}
                        {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.city) }}
                        {{ form_widget(form.city,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info">Submit</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}